{% extends '@!HarentiusBlog/base.html.twig' %}

{%- block raw_title -%}
    {% if block('page_title') is not empty %}{% block page_title %}{% endblock %} | {% endif %}{{ 'project.name'|trans }}
{%- endblock -%}

{% block head_extra %}
    {% if app.environment == 'prod' %}
    {{ include('_google_analytics.html.twig') }}
    <script data-ad-client="ca-pub-8463813510139079" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endif %}
{% endblock %}

{% block footer_content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-left footer-widgets">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 footer-copyright">
        <p>© <a href="{{ url('harentius_blog_homepage') }}">folkprog.net</a>, 2012-{{ 'now'|date('Y') }}</p>
        <p>{{ 'footer.copyright_reserved'|trans }}</p>
        <p>{{ 'footer.copyright_granted'|trans }}</p>
        <p>{{ 'footer.copyright_welcome_link'|trans }}</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-right footer-widgets">
        <a href="http://adment.org.ua" target="_blank">
            <img width="88" height="31" src="/banners/adment_88_31.png" alt="Админские развлечения - танцы с бубном на досуге" title="Админские развлечения - танцы с бубном на досуге"/>
        </a>
    </div>
</div>
{% endblock %}

{% block sidebar_after_content %}
    {% if app.environment == 'prod' %}
        <!-- folkprog regular -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8463813510139079"
             data-ad-slot="8719005747"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
{% endblock %}

