<div class="widget-title">{{ 'Categories'|trans }}</div>
{{ render_cached(controller('Harentius\\BlogBundle\\Controller\\SidebarController::categories')) }}

<div>
    <a href="https://spd.group/machine-learning/top-ai-companies/">
        Top AI Companies
    </a>
</div>

<div class="widget-title">{{ 'Archive'|trans }}</div>
{{ render_cached(controller('Harentius\\BlogBundle\\Controller\\SidebarController::archive')) }}
<div class="widget-title">{{ 'Tags Cloud'|trans }}</div>
{{ render_cached(controller('Harentius\\BlogBundle\\Controller\\SidebarController::tags')) }}
