{% extends '@!HarentiusBlog/Show/article.html.twig' %}

{% block after_breadcrumbs_content %}
    {% include '_translations_list_article.html.twig' %}
{% endblock %}

{% block post_rating_left %}
    <div class="sharethis-inline-share-buttons"></div>
{% endblock %}

{% block after_post_ratings_row %}
    <div class="fb-comments" data-href="{{ site_url }}" data-width="100%" data-numposts="5"></div>
    <div id="fb-root"></div>
{% endblock %}

{% block javascripts %}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v5.0"></script>
    <script src="{{ asset('bundles/harentiusblog/article.js', 'harentius_blog') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ sharethis_property }}&product={{ sharethis_product }}"></script>
{% endblock javascripts %}

{% block head_extra %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}"/>
{% endblock %}
