{% extends 'HarentiusBlogBundle::base.html.twig' %}

{% block page_title %}О проекте{% endblock %}

{% block content %}
    {% set stats = statistics.getAll %}
    <div class="padded-content article-wrapper">
        <h1>О проекте</h1>
        <p>Проект "<strong>Народное программирование</strong>" - блог web разработчика, специализирующегося, преимущественно на Symfony framework.</p>
        <p>
            <img class="pull-left" src="{{ asset('bundles/harentiusfolkprog/img/scientist_vs_programmer.jpg') }}" />
            Был запущен <span class="stat-value">{{ stats.firstArticlePublicationDate|localizeddate('long', 'none') }}</span>.
            Изначально была совсем другая тематика (и доменное имя physmodel.org.ua).
            Тогда автор был студентом физического отделения и сделал простой бложик на wordpress, посвящен моделированию в физике. Но что-то пошло не так...
        </p>
        <p>
            Стало появляться много заметок совершенно другой тематики, и принято решение поменять доменное имя и направление.
        </p>
        <p>
            Движок долгое время оставался wordpressным со всеми вытекающими последствиями. Дизайн также не особо мог похвастаться юзабилити:
        </p>
        <p class="clearfix">
            <img class="pull-left img-old-version" src="{{ asset('bundles/harentiusfolkprog/img/old_version.png') }}" />
        </p>
        <p>
            К счастью, многое изменилось. 6 сентября 2015 года спустя почти 3 месяцев разработки была запущена новая symfony-версия проекта с обновленным,
            более строгим дизайном.
            Новый движок постоянно совершенствуется, естественно open source (ссылки в конце). У меня много идей по его усовершенствованию, но не знаю, все ли успею.
            В конце должно получится несколько автономных бандлов, которые можно будет использовать в любом symfony проекте. Но, увы, эта цель еще не достигнута.
        </p>
        <p>С начала существования написано <span class="stat-value">{{ stats.countPublished|localizednumber }}</span> заметок,
            просмотрено <span class="stat-value">{{ stats.viewsCount|localizednumber }}</span> страниц,
            поставлено <span class="stat-value">{{ stats.likesCount|localizednumber }}</span> лайк и
            <span class="stat-value">{{ stats.disLikesCount|localizednumber }}</span> дизлайк{% if stats.disLikesCount > 0 %} (простите за это =) ){% endif %}.
            Наиболее популярная заметка: <a href="{{ path('harentius_blog_show', {'slug': stats.mostPopularArticleData.slug}) }}">{{ stats.mostPopularArticleData.title }}</a>
            (<span class="stat-value">{{ stats.mostPopularArticleData.viewsCount }}</span> просмотров)
        </p>
        <h4>Ресурсы/благодарности</h4>
        <p><a href="https://github.com/harentius/blog" target="_blank" rel="nofollow">Движок блога</a>, далеко не финальная версия и постоянно дописывается</p>
        <p><a href="https://github.com/sauti" target="_blank" rel="nofollow">Github-аккаунт</a> автора нового логотипа</p>
        <p>
            При разработке блога использовалось
            <a href="https://github.com/harentius/blog/blob/develop/composer.json" target="_blank" rel="nofollow">множество</a>
            компонентов, всех не перечислить, но особенно хотелось бы выделить, как одни из самых главных:
        </p>
        <p><a href="http://symfony.com/" target="_blank" rel="nofollow">Symfony </a>(2.7) framework</p>
        <p><a href="http://getbootstrap.com/" target="_blank" rel="nofollow">Twitter Bootstrap </a>HTML, CSS, и JS framework</p>
        <h4>Некоторые замечания</h4>
        <p>Размещенные на сайте материалы никогда не являются "копи-пастой" с других ресурсов, но в последнее время стал добавлять больше переводов заметок западных ресурсов.</p>
        <p>Я всегда с уважением отношусь к труду других людей, стараюсь читать копи-райты и придерживаться условий использования.</p>
        <p>Но если случайно нарушено чье-то авторское право - обязательно свяжитесь со мной и сообщите об этом.</p>
        <p>Связь с автором блога/движка: <a href="mailto:harentius@yandex.ru">тыц</a></p>
    </div>
{% endblock %}
