{% extends 'HarentiusBlogBundle::_base.html.twig' %}

{% block common_stylesheets %}
     {{ parent() }}
    {% stylesheets
        'bundles/harentiusfolkprog/css/main.less'
    %}
    <link href="{{ asset_url }}" media="all" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block head_extra %}
    {% if app.environment != 'dev' %}
    <!-- SAPE RTB JS -->
    <script async="async" src="//cdn-rtb.sape.ru/rtb-b/js/987/2/1987.js" type="text/javascript"></script>
    <!-- SAPE RTB END -->

    {% endif %}
{% endblock %}

{% block footer_content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-left footer-widgets">
        {{ harentius_widget('widgets_block_bottom_left') }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 footer-copyright">
        <p>© <a href="{{ url('harentius_blog_homepage') }}">folkprog.net</a>, 2012-{{ 'now'|date('Y') }}</p>
        <p>All right reserved.</p>
        <p>Копирование материалов не запрещается.</p>
        <p>За указание ссылки на источник - спасибо.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-right footer-widgets">
        {{ harentius_widget('widgets_block_bottom_right') }}
    </div>
</div>
{% endblock %}

{% block sidebar_after_content %}
    {{ harentius_widget('widgets_block_sidebar') }}
    {% if app.environment != 'dev' %}
        {{ sape_return_block_links() }}
        <!-- SAPE RTB DIV 240x400 -->
        <div id="SRTB_4516"></div>
        <!-- SAPE RTB END -->
    {% endif %}
{% endblock %}

{% block last_body_content %}
    {#<div class="text-center footer-counters">{{ harentius_widget('widgets_block_bottom') }}</div>#}
{% endblock %}
