{% extends 'HarentiusBlogBundle::_base.html.twig' %}

{% block common_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/main.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block common_javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/common-folkprog.js') }}"></script>
{% endblock common_javascripts %}

{% block footer_content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-left footer-widgets">
        {{ harentius_widget('widgets_block_bottom_left') }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 footer-copyright">
        <p>© <a href="{{ url('harentius_blog_homepage') }}">folkprog.net</a>, 2012-{{ 'now'|date('Y') }}</p>
        <p>All right reserved.</p>
        <p>Копирование материалов не запрещается.</p>
        <p>За указание ссылки на источник - спасибо.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-right footer-widgets">
        {{ harentius_widget('widgets_block_bottom_right') }}
    </div>
</div>
{% endblock %}

{% block sidebar_after_content %}
    {{ harentius_widget('widgets_block_sidebar') }}
    {% if app.environment != 'dev' %}
        <!-- folkprog regular -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8463813510139079"
             data-ad-slot="8719005747"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
{% endblock %}

{% block last_body_content %}
    {#<div class="text-center footer-counters">{{ harentius_widget('widgets_block_bottom') }}</div>#}
{% endblock %}
